.header {
    width: 100%;
    max-width: 1200px;
    min-width: 324px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-size: 70px;
    color: #000;
    transition: all 0.2s;
}

.logo:hover {
    color: #1E689D;
}

.tagline {
    min-width: 283px;
    margin:0 0 0 60px;
    font-size: 26px;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #000;
}

@media screen and (max-width: 620px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .tagline {
        margin: 0 0 10px;
    }
}